#footer {
    /* margin-top: 40px; */
    background-color: var(--background-light-color);
    /* background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(207, 207, 207, 1) 100%); */
}

#footer a {
    color: #000;
    font-weight: bold;
    
}