@import url(https://fonts.googleapis.com/css?family=Nunito);
:root {
    --main-color: #93032E;
    --main-light-color: #c44a6d;
    --background-color: #ffffff;
    --background-light-color: #e5e5e5;
    --main-color-rgb: 147, 3, 46;
    /* --background-color: #15202B;
    --background-light-color: #253341; */
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
        background-size: cover;
        background-image: url('/images/frontend/background.png');
    
}