.nav-link {
    color: #000 !important;
}

.bg-prop {
    background-color: var(--background-color);
}

.nav-link.important {
    color: var(--main-color) !important;
}

nav {
    border-bottom: 2px solid var(--main-color);
}