div.content {
    min-height: 70vh;
    display: flex;
    /* align-items: center; */
}

.main-container h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.main-container .descriptions {
    font-size: 20px;
    margin-top: 20px;
}

.main-container .descriptions ul {
    padding-left: 0;
}

.main-container .descriptions ul li {
    list-style: none;
}

.main-container .price {
    width: fit-content;
    margin: auto;
}

.main-container .price h3 {
    display: inline;
}

.btn-MP {
    background-color: #009EE3;
    color: #ffffff;
}

.btn-MP:hover {
    color: #ffffff;
}