.body-overlay {
    position: absolute;
    height: calc( 100vh - 60px);
    top: 60px;
    width: 100%;
    z-index: -1;
    filter: opacity(0.5) blur(2px);
    background-position: center;
    background-image: url('/images/publish/congreso.jpg');
}

h1.section-name {
    margin-top: 40px;
    text-align: center;
    z-index: 10;
    font-size: 36px;
    color: #000;
    font-weight: bold;
}

footer {
    display: none;
}

.row-option .col-text,
.row-option .col-image,
.row-option .col-arrow {
    padding: 0 !important;
}

.row-option .col-image {
    height: 100%;
}

.row-option .col-text {
    background-color: rgba(255, 255, 255, .7);
}

.row-option .col-text .container {
    padding-top: 10px;
}

.row-option .col-arrow .btn {
    background-color: var(--main-color);
    color: #ffffff;
    text-decoration: none;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 0;
}

.row-option.particular .col-arrow .btn {
    font-size: 27px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.row-option.business .col-arrow .btn {
    font-size: 27px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.row-option.business .col-image img {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.row-option.particular .col-image img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.row-option {
    border-radius: 10px;
    border: 1px solid #ffffff;
}

.options-container {
    margin-top: 40px;
}

@media screen and (max-width: 767px) {
    .row-option.business {
        flex-direction: column-reverse;
    }
    .row-option .col-image img {
        max-height: 200px;
        width: 100%;
        object-fit: cover;
    }
    .row-option {
        margin: auto;
        max-width: 47%;
    }
    .row-option.business .col-image img {
        border-radius: 0;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .row-option.particular .col-image img {
        border-radius: 0;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .row-option.particular .col-arrow .btn {
        font-size: 27px;
        height: 45px;
        border-radius: 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .row-option.business .col-arrow .btn {
        font-size: 27px;
        height: 45px;
        border-radius: 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .options-container {
        margin-top: 40px;
        display: flex;
        flex-direction: row-reverse;
    }
    .row-option {
        margin-top: 0 !important;
    }
    .row-option .col-text {
        min-height: 310px;
    }
}

@media screen and (min-width: 767px) {
    .row-option {
        max-width: 70%;
        margin: auto;
    }
    .row-option .col-image img {
        height: 100%;
        object-fit: cover;
    }
    .row-option .col-image {
        height: unset !important;
    }
}