*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #777;
}

h1{
    font-size: 36px;
color: #555;
font-weight: bold;
}

h3{
    font-size: 24px;
    color: #333;
    font-weight: bold;
}


  #container {
    
    margin-left: 30%;
    
  }


  #container .titulo{
    margin-top: 30px;
    
    margin-right: 550px;
  }

  #container .subtitulo{
    margin-top: 5px;
    margin-bottom: 20px;
    margin-right: 550px;
  }

  #container p{
    margin-top: 60px;
  } 

   #container #building{
    
    margin-left: 30%;
    width: 500px;
    height: 40px;
    /* margin-right: 550px; */
  }
  