footer {
    display: none !important;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc( 80vh - 70px);
}

.main-container .login.row {
    width: 100%;
}

.main-container .btn-link {
    width: 100%;
    text-align: left;
    padding: 0;
    margin-top: 10px;
}

.btn-prop {
    color: #ffffff;
    background-color: var(--main-color);
}

.btn-prop:hover {
    color: #ffffff;
    background-color: var(--main-light-color);
}

.main-container .row .card {
    background-color: transparent !important;
    border-color: rgba(var(--main-color-rgb), .4);

    /* border-color: transparent !important; */
}