* {
    margin: 0;
    padding: 0;
    font-family: "Nunito";
}

body {
    /* font-size: 14px;
    font-weight: 400;
    color: #777; */
}

h1 {
    font-size: 36px;
    color: #000;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    color: #000000;
    font-weight: bold;
}

#team img {
    margin-top: -50px;
}

#team i {
    font-size: 26px;
    color: #555;
}

#team p {
    font-weight: 500;
}

#team {
    padding: 40px 0;
}

#team .card {
    background-color: rgba(255, 255, 255, .85);
    border-radius: 0;
    box-shadow: 5px 5px 15px rgba(200, 200, 200, .6);
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

.ad-list {
    border-bottom: 1px solid rgba(200, 200, 200, .6);
    margin-bottom: 10px;
}

.btn-outline-prop {
    border: 1px solid var(--main-color) !important;
    color: var(--main-color) !important;
}

.btn-outline-prop:hover {
    background-color: var(--main-color);
    color: #fff !important;
}

.ad-list li {
    list-style: none;
}

.ad-list li .ad-bullet {
    font-size: 16px;
    margin-bottom: 20px;
}

.plan-header {
    border-bottom: 1px solid rgba(200, 200, 200, .6);
    margin-bottom: 30px;
}

.body-overlay {
    position: absolute;
    height: calc( 100vh - 60px);
    top: 60px;
    width: 100%;
    z-index: -1;
    filter: opacity(0.5) blur(2px);
    background-position: center;
}

footer {
    display: none;
}